<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

</head>
<body>
<%- include('../partials/header') %>
<main>
    <section>
      <article class="product-article">
        <div class="all-product">
          <% producto.image.map( (image, i) => { %>
            <img
            src="/images/products/<%= image.image %> "
            alt="imagen principal de producto"
            class="main-product <%= i == 0? 'is-visible' : null %>"
            data-id="<%= image.id %>"
              />
          <% }) %>
          <div class="pointer-btn">
          <% producto.image.map( (image, i) => { %>
            <i class="<%= i==0? 'fa-solid' : 'fa-regular' %> fa-circle " data-id="<%= image.id %>"></i>
            
            <% }) %>
            </div>
          
        </div>
        <div class="description-product">
          <h3 style="margin: 25px 15px;"><%= producto.name %> </h3>
          <h3 style="font-size: 25px;">$  <%= producto.offer? producto.price * producto.offer / 100 : producto.price %> </h5>
          <h4>Talla:</h4>
          <div class="size-conteiner">
            <% producto.size.forEach(size => { %>
              <div class="size"><%= size.size %></div>
            <% }) %>
          </div>
          <h4>Color:</h4>
          <div class="color-conteiner">
            <% producto.color.forEach(color => { %>
              <div class="product-color "><%= color.color %></div>
            <% }) %>
          </div>
          
          <h4>Stock:</h4>
          <p class="detail-tx" style="font-size: 20px;">
            <%= producto.stock %> 
          </p>
          <h4>Descripcion:</h4>
          <p class="detail-tx" >
            <%= producto.description %>
          </p>
          
          <!-- <div class="add-conteiner">
            <button type="submit" class="add-cart">Agregar al carrito</button>
          </div>  -->
          <button class="button2" id="add-cart" 
          data-id="<%= producto.id %>"
          >
            Agregar al Carrito
        </button>
          <div class="flex-conteiner">
            <form 
            action="/product/edit/<%= producto.id %>" 
            method="get" 
            id="edit" 
            data-productedit="<%= producto.id %>"
            class="detail-btn "
            >
            <button type="submit" class="btn-edit">Editar!!</button>
            </form>
            <form 
            action="/product/delete/<%= producto.id %>" 
            method="post" 
            id="delete" 
            data-productdelete="<%= producto.id %>"
            class="detail-btn"
            >
            <button type="submit" class="btn-delete">Eliminar!!</button>
          </form>
        </div>
        </div>
      </article>
















      <article>
        <h3>Te puede interesar</h3>
        <div class="offer-conteiner">
          <div>
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt="Imagen de producto que te podria interesar"
            class="client-offer"
          />
          <h6>Nombre de producto</h6>
          <p class="price-product">%10000</p>
          </div>
          <div>
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt="Imagen de producto que te podria interesar"
            class="client-offer"
          />
          <h6>Nombre de producto</h6>
          <p class="price-product">%10000</p>
          </div>
          <div>
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt="Imagen de producto que te podria interesar"
            class="client-offer"
          />
          <h6>Nombre de producto</h6>
          <p class="price-product">%10000</p>
          </div>
          <div>
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt="Imagen de producto que te podria interesar"
            class="client-offer"
          />
          <h6>Nombre de producto</h6>
          <p class="price-product">%10000</p>
          </div>
        </div>
      </article>
      <!-- <article>
        <h4>Comentarios</h4>

      </article> -->
    </section>
  </main>

<%- include('../partials/footer') %>    
<script src="/js/detail.js"></script>
<script src="/js/sweetConfirm.js"></script>
<script src="/js/cartEvent.js"></script>
<script src="/js/cartLogic.js"></script>

</body>
</html>