<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

</head>
<body>
<%- include('../partials/header') %>
<main>
    <section>
      <article class="product-article">
        <div class="all-product">
          <!-- <div class="product-viewer">
            <img
              src="https://http2.mlstatic.com/D_NQ_NP_645400-MLA52444053312_112022-W.jpg"
              alt="imagen de productos"
            />
            <img
              src="https://i.pinimg.com/236x/75/ad/8b/75ad8b23af0f7a304bdda322b94167ea.jpg"
              alt="imagen de productos"
            />
            <img
              src="https://sublishop.com.ar/wp-content/uploads/2022/02/09-300x338.png"
              alt="imagen de productos"
            />
          </div> -->
          <img
            src="/images/<%= producto.image %> "
            alt="imagen principal de producto"
            class="main-product"
          />
        </div>
        <div class="description-product">
          <h3><%= producto.name %> </h3>
          <h5>$<%= producto.price %> </h5>
          <h4>Talla</h4>
          <div class="size-conteiner">
            <% if (producto.size == 'S') { %>
              <div class="size">S</div>
            <% } %>
            <% if (producto.size == 'L') { %>
              <div class="size">L</div>
            <% } %>
            <% if (producto.size == 'M') { %>
              <div class="size">M</div>
            <% } %>
          </div>
          <h4>Color</h4>
          <!-- <div class="color-conteiner">
            <div class="product-color color1"></div>
            <div class="product-color color2"></div>
            <div class="product-color color3"></div>
          </div> -->
          <div class="add-conteiner">
            <button type="submit" class="add-cart">Agregar al carrito</button>
          </div> 
          <h4>Descripcion</h4>
          <p>
            <%= producto.decription %> .
          </p>
          <!-- <h4>Cuidados</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
            tenetur? Maxime aperiam non quidem, porro a fugiat totam fugit
            quas labore fuga sint ullam necessitatibus eligendi asperiores, ad
            dolorum quaerat.
          </p> -->
        </div>
      </article>
      <article>
        <h3>Te puede interesar</h3>
        <div class="offer-conteiner">
          <div>
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt="Imagen de producto que te podria interesar"
            class="client-offer"
          />
          <h6>Nombre de producto</h6>
          <p class="price-product">%10000</p>
          </div>
          <div>
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt="Imagen de producto que te podria interesar"
            class="client-offer"
          />
          <h6>Nombre de producto</h6>
          <p class="price-product">%10000</p>
          </div>
          <div>
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt="Imagen de producto que te podria interesar"
            class="client-offer"
          />
          <h6>Nombre de producto</h6>
          <p class="price-product">%10000</p>
          </div>
          <div>
          <img
            src="https://png.pngtree.com/png-vector/20201208/ourmid/pngtree-question-mark-sign-flat-design-png-image_2521719.jpg"
            alt="Imagen de producto que te podria interesar"
            class="client-offer"
          />
          <h6>Nombre de producto</h6>
          <p class="price-product">%10000</p>
          </div>
        </div>
      </article>
      <!-- <article>
        <h4>Comentarios</h4>

      </article> -->
    </section>
  </main>

<%- include('../partials/footer') %>    
</body>
</html>