<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

</head>
<body>
<%- include('../partials/header') %>
<main class="main">    
    <div class="paint">
      <form action="#" method="post" enctype="multipart/form-data">
        
        <div class="form-group">
          <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" value="<%= locals.oldBody && oldBody.name? oldBody.name:"" %>">
          <% if (locals.error && error.name) { %>
           <p><%= error.name.msg %></p>
          <% } %>
        </div>
        
        <div class="form-group">
          <label for="description">Descripción:</label>
          <textarea id="description" name="description"><%= locals.oldBody && oldBody.description? oldBody.description:"" %></textarea>
          <% if (locals.error && error.description) { %>
           <p><%= error.description.msg %></p>
          <% } %>
        </div>
        
        <div class="form-group">
          <label for="image">Imagen:</label>
          <input type="file" id="image" name="image">
          <% if (locals.error && error.image) { %>
           <p><%= error.image.msg %></p>
          <% } %>
        </div>
        
        <div class="form-group">
          <label for="category">Categoria:</label>
          <select id="category" name="category">
            <option value="">Seleccionar categoria</option>
            <option value="man">Man</option>
            <option value="women">women</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="size">Talla:</label>
          <select id="size" name="size">
            <option value="">Seleccionar categoria</option>
            <option value="S">S</option>
            <option value="L">L</option>
            <option value="M">M</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="price">Precio:</label>
          <input type="text" id="price" name="price" value="<%= locals.oldBody && oldBody.price? oldBody.price:"" %>">
          <% if (locals.error && error.price) { %>
           <p><%= error.price.msg %></p>
          <% } %>
        </div>

        <div class="form-group">
          <label for="color">Color:</label>
          <% color.forEach(color => { %>
           <input type="checkbox" name="color" value="<%=color.id%> " id=""><%= color.color %>
          <% }) %>
          
        </div>
        
        <button type="submit" class="add-btn">Add</button>
    </div>
      </form>
      <Div class="foot">
        <%- include('../partials/footer') %>
      </Div>    
</body>
</html>