<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

  </head>

  <body>
    <%- include('../partials/header') %>
      <main class="main">
        <div class="paint">
          <div class="form1">
            <form id="form-create" action="/product/newProduct" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" value="<%= locals.oldBody && oldBody.name? oldBody.name:"" %>">
                <% if (locals.error && error.name) { %>
                  <p>
                    <%= error.name.msg %>
                  </p>
                  <% } %>
              </div>

              <div class="form-group">
                <label for="description">Descripción:</label>
                <textarea id="description"
                  name="description"><%= locals.oldBody && oldBody.description? oldBody.description:"" %></textarea>
                <% if (locals.error && error.description) { %>
                  <p>
                    <%= error.description.msg %>
                  </p>
                  <% } %>
              </div>


              <div class="form-group">
                <label for="category">Categoria:</label>
                <select id="category" name="category">
                  <option disabled selected value="">Seleccionar categoria</option>
                  <% category.forEach(categoria=> { %>
                    <option value="<%= categoria.id %>">
                      <%= categoria.category %>
                    </option>
                    <% }) %>
                </select>
              </div>

              <div class="form-group">
                <label for="price">Precio:</label>
                <input type="text" id="price" name="price"
                  value="<%= locals.oldBody && oldBody.price? oldBody.price:"" %>">
                <% if (locals.error && error.price) { %>
                  <p>
                    <%= error.price.msg %>
                  </p>
                  <% } %>
              </div>

              <div class="form-group">
                <label for="offer">Descuento:</label>
                <input type="text" id="offer" name="offer"
                  value="<%= locals.oldBody && oldBody.offer? oldBody.offer: 0 %>">
                <% if (locals.error && error.offer) { %>
                  <p>
                    <%= error.offer.msg %>
                  </p>
                  <% } %>
              </div>

              <div class="form-group">
                <label for="stock">Stock:</label>
                <input type="text" id="stock" name="stock"
                  value="<%= locals.oldBody && oldBody.stock? oldBody.stock:"" %>">
                <% if (locals.error && error.stock) { %>
                  <p>
                    <%= error.stock.msg %>
                  </p>
                  <% } %>
              </div>

              <div class="form-group">
                <label for="image">Imagen:</label>
                <input type="file" id="image" name="image" multiple>
                <% if (locals.error && error.image) { %>
                  <p>
                    <%= error.image.msg %>
                  </p>
                  <% } %>
              </div>
          </div>
          <div class="form2">
            <label for="size">Talla:</label>
            <div class="talla">
              <div class="form-group2">
                <% size.forEach(size=> { %>
                  <input type="checkbox" class="size" name="size" value="<%=size.id%> " id="">
                  <%= size.size %>
                    <% }) %>
              </div>
            </div>

            <label for="color">Color:</label>
            <div class="form-group3">
              <% color.forEach(color=> { %>
                <input type="checkbox" class="color" name="color" value="<%=color.id%> " id="">
                <%= color.color %>
                  <% }) %>
                </div>
                <button type="submit" class="add-btn">Add</button>
              </div>
            </div>
          
        </form>
        <Div class="foot">
          <%- include('../partials/footer') %>
        </Div>
  </body>
  <!-- <script src="/js/createValidation.js"></script>
<script src="/js/userFunction.js"></script> -->

</html>