<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

</head>
<body>
<%- include('../partials/header') %>

<main class="background">
    <h2 class="genre-tittle">WOMEN</h2>
    <section class="index-section">
    <% products.forEach(product => { %>
      <article class="box-index">
        <a href="/product/detail/<%= product.id %> ">
          <img
            src="/images/products/<%= product.image[0].image %> "
            alt="Imagen del Producto"
          />
        </a>
        <div>
          <!-- fa-beat -->
          <p class="product-name"><%= product.name %> </p>
          <p>$<%= product.price %> </p> 
          <!-- <p>%= product.description %> </p> -->
          <i class="fa-regular fa-heart fav-position" id="fav-heath"></i>
        </div>
      </article>  
    <% }) %>
    </section>
  </main>

<%- include('../partials/footer') %>    
<script src="/js/favorite.js"></script>

</body>
</html>