<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <div>
        <div class="adcolums addireccion">
            <a href="#adman">Hombres</a>
            <a href="#adwomen">Mujeres</a>
        </div>
        <h1 id="adman">Hombres</h1>
        
        <% products.forEach(product => { %>    
        
        <% if (product.category == 'man') { %>
        
        <div class="adcolums adproduct">
            <div>
                <img src="/images/products/<%= product.image %>" alt="<%= product.image %>">
            </div>
            
            <div class="adcolums">
                <h2><%= product.name %></h2>
                <p><%= product.description %></p>
                <p> $<%= product.price %></p>
                <p>Talle:<%= product.size %></p>
            </div>

        </div>
        <% } %>
        <% }) %>
        <div>
             <h1 id="adwomen">Mujeres</h1>
            <% products.forEach(product => { %>
             
                <% if (product.category == 'women') { %>
            <div>
                <img src="/images/products/<%= product.image %>" alt="<%= product.image %>">
            </div>
                
            <h2><%= product.name %></h2>
            <p><%= product.description %></p>
            <p><%= product.price %></p>
            <p><%= product.size %></p>
 

            <% } %>
            <% }) %>
        </div>
    </div>
</body>
</html>