<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <div class="adcolums addireccion">
        <!-- <a href="#adman">Hombres</a>
        <a href="#adwomen">Mujeres</a> -->
        <form action="/product/newProduct" method="get">
          <button class="logout">Crear Producto</button>
        </form>
        <form action="/user/register" method="get">
          <button class="logout">Register</button>
        </form>
        <form action="/user/logout" method="post">
          <button class="logout">Logout</button>
        </form>
      </div>
      <section class="adcolums">
        <article>
          <h1 id="adman">Hombres</h1>
          <% products.forEach(product => { %> 
            <% if (product.category_id == 1) {%>

                <div class="adcolums adproduct">
                    <div>
                    <img
                        src="/images/products/<%= product.image[0].image %>"
                        alt="<%= product.image %>"
                    />
                    </div>

                    <div class="adcolums">
                    <h2><%= product.name %></h2>
                    <p><%= product.description %></p>
                    <p>$<%= product.price * product.offer / 100 %></p>
                    </div>
                    <div class="flex-conteiner">
                        <form 
                            action="/product/edit/<%= product.id %>" 
                            method="get" 
                            id="edit" 
                            data-productedit="<%= product.id %>"
                            class="detail-btn "
                            >
                            <button type="submit" class="btn-edit">Editar!!</button>
                            </form>
                            <form 
                            action="/product/delete/<%= product.id %>" 
                            method="post" 
                            id="delete" 
                            data-productdelete="<%= product.id %>"
                            class="detail-btn"
                            >
                            <button type="submit" class="btn-delete">Eliminar!!</button>
                        </form>
                    </div>
                </div>
            <% } %> 
          <% }) %>
        </article>
        <article>
          <h1 id="adwomen">Mujeres</h1>
          <% products.forEach(product => { %> 
            <% if (product.category_id == 2) { %>

                <div class="adcolums adproduct">
                    <div>
                    <img
                        src="/images/products/<%= product.image[0].image %>"
                        alt="<%= product.image %>"
                    />
                    </div>

                    <div class="adcolums addesc">
                    <h2><%= product.name %></h2>
                    <p><%= product.description %></p>
                    <p>$<%= product.price * product.offer / 100%></p>
                    </div>
                    <div class="flex-conteiner">
                        <form 
                            action="/product/edit/<%= product.id %>" 
                            method="get" 
                            id="edit" 
                            data-productedit="<%= product.id %>"
                            class="detail-btn "
                            >
                            <button type="submit" class="btn-edit">Editar!!</button>
                            </form>
                            <form 
                            action="/product/delete/<%= product.id %>" 
                            method="post" 
                            id="delete" 
                            data-productdelete="<%= product.id %>"
                            class="detail-btn"
                            >
                            <button type="submit" class="btn-delete">Eliminar!!</button>
                        </form>
                    </div>
                </div>

            <% } %> 
          <% }) %>
        </article>
      </section>

      <%- include('../partials/footer.ejs') %>
    </main>
    <script src="/js/sweetConfirm.js"></script>

</body>
</html>
