<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="profile">
        <div class="profile-conteiner">
            <div class="img-count">
                <img src="/images/users/<%= user.image %>" class="profile-img" alt="<%= user.image %>">
            </div>
            <div class="name-p">
                <p><%= user.name %></p>
                <p><%= user.lastname %></p>
            </div>
        
          
            
        <div class="buttons">
            <form action="/user/logout" method="POST"> 
                <button class="button" type="submit">Logout</button>
            </form>
            <form action="" method="POST"> 
                <button class="button editar" type="submit">Editar  <i class="fa-solid fa-pen"></i></button>
            </form>
            <form action="" method="POST"> 
                <button class="button eliminar" type="submit">Eliminar  <i class="fa-solid fa-trash"></i></button>
            </form>
            </div>
        </div>
        
        <div class="contenedor">
            <div>
                <ul class="tabs">
                <li class="li"> <a href="#tab1"> <p class="tab-text">MIS DATOS</p></button> </a>  </li>
                <li class="li"> <a href="#tab2"> <p class="tab-text">MIS DIRECCIONES</p> </a> </li>
                <li class="li"> <a href="#tab3"> <p class="tab-text">MIS COMPRAS</p> </a> </li>
                <li class="li"git > <a href="#tab4"> <p class="tab-text">WISH LIST</p> </a> </li>
                </ul>
            <div>
            <div class="bloque">
                    <ul id="tab1">
                    <li class="elementos-de-bloque"> Nombre</li>
                    <li class="elementos-de-bloque">Apellido</li>
                    <li class="elementos-de-bloque">Doc. de Identidad</li>
                    <li class="elementos-de-bloque">Email</li>
                    <li class="elementos-de-bloque">Contraseña</li>
                </ul> </div>
            <div class="bloque"><ul id="tab2">
                    <li><button class="button-bloque">Ingresa Direccion</button></li>
                </ul></div>

            <div class="bloque"><ul id="tab3">
                    <li class="elementos-de-bloque">Nro de Orden</li>
                    <li class="elementos-de-bloque">Estado</li>
                    <li class="elementos-de-bloque">Fecha</li>
                    <li class="elementos-de-bloque">Importe</li>
                    <li><button class="button-bloque">Compras Anteriores</button></li>
                </ul></div>
                
            <div class="bloque"><ul id="tab4">
                    <li><button class="button-bloque">Agrega Productos</button></li>
                </ul></div>
        </div>

    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/profile.js"></script>
</body>
</html>