<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="profile">
        <div class="profile-conteiner">
            <div class="img-count">
                <img src="/images/users/<%= user.image %>" class="profile-img" alt="<%= user.image %>">
            </div>
            <div class="name-p">
                <p><%= user.name %></p>
                <p><%= user.lastname %></p>
            </div>
          
            
            <p><%= user.email %></p>
            <form action="/user/logout" method="POST"> 
                <button class="button" type="submit">Logout</button>
            </form>
            <form action="" method="POST"> 
                <button class="button editar" type="submit">Editar  <i class="fa-solid fa-pen"></i></button>
            </form>
            <form action="" method="POST"> 
                <button class="button eliminar" type="submit">Eliminar  <i class="fa-solid fa-trash"></i></button>
            </form>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>